
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: pink;
  font-family: 'Mukta', sans-serif;
  font-weight: 300;
  font-size: 30px;
}

.header {
  background-color: #EFEBE0;
  width: 100%;
  height: auto;
  top: 0px;
  left: 0px;
  padding: 0 20px;
  padding-bottom: 20px;
  text-align: center;
  margin: 0;
  border: solid black 0px
}

h1 {
  color: rgb(48, 48, 48);
  font-size: 50px;
  letter-spacing: 6px;
  margin: 20px auto;
  font-family: 'Pacifico', cursive;
  width: 85%;
}
h2 {
  padding: 0px 20px;
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  margin: 15px 0;
  color: rgb(48, 48, 48);
  font-family: 'Pacifico', cursive;
  line-height: 1.2;
}

.intro, .createList, .deleteList, .createdLists, .addSuperheroes, .results, #noResults {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu, .login, .signup, .admin {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 10px;
  padding-bottom: 30px;
}

.signout p {
  font-family: 'Pacifico', cursive;
}

.back-button {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 10px;
}

hr {
  width: 85%;
  border: 0px solid;
  border-bottom: 2px solid #353434;
  margin: 20px auto;
}

input, select {
  padding: 10px;
  border: 0px solid;
  border-radius: 14px;
  font-size: 16px;
  font-style: italic;
  background-color: #EFEBE0;
  font-family: 'Mukta', sans-serif;
}

select {
  cursor: pointer;
}

button {
  padding: 10px;
  margin-left: 5px;
  background-color: #FB6B90;
  color: #fff;
  border: none;
  border-radius: 14px;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Mukta', sans-serif;
}

button:hover {
  background-color: #a50759;
}

.selected {
  background-color: #ce3158;
  color: white;
  font-weight: bolder;
  border: solid rgb(59, 58, 58) 3px;
}

ol {
  margin: 15px 0;
  max-width: 940px;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: left;
  padding: 0;
  list-style: none;
}

li {
  border: 0px solid;
  border-radius: 14px;
  margin: 5px 5px;
  padding: 5px;
  background-color: #FB6B90;
  font-weight: 600;
  font-size: 17px;
  font-family: 'Mukta', sans-serif;
  text-align: center;
  width: 40%;
  color: white;
  list-style: none;
}

li:hover {
  background-color: #e5e5e5;
  color: rgb(59, 58, 58);
}

/* App.css */
body {
  margin: 0;
}

/* Set a margin for the content to prevent it from being hidden behind the side nav */
.content {
  margin-left: 250px; /* Adjust this based on your sideNav width */
}

/* SideNav.css */
.sideNav {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #d8d4ca;
  padding-top: 20px;
  overflow: scroll;
}

.main {
  margin-left: 250px;
}

.list-button {
  width: 180px;
  margin-bottom: 10px;
}

#listsContainer {
  width: 80%;
  justify-content: center;
  text-align: center;
}

.expanded-info {
  padding: 3px;
  width: 200px; 
}

.selected-btn {
  background-color: #a50759;
  font-weight: bolder;
}

.listDetails li {
  padding: 3px;
  width: 200px; 
}

.noResults {
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  font-style: italic;
  border: solid black 0px;
  border-radius: 14px;
  background-color: #fe8ba7;
  padding: 8px;
  margin: 5px auto;
  font-family: 'Mukta', sans-serif;
  width: 40%;
}

.login input {
  margin: 5px;
}

.signup input {
  margin: 5px;
}

.search li {
  margin: 5px auto;
}

.search-boxes {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
}

.search-boxes input {
  flex: 1;
  width: 150px;
  margin: 5px; /* Fixed margin to create space between inputs */
}

